
# virtual envirenment
venv/
# cache
file_/
# github reference
automation/
# template
merge_mail/*
!merge_mail/HO_SO_PL_PY.docx
!merge_mail/IMPOT_CHAN_CHAN_fix.xls

thien.ipynb
# merge_mail.ipynb
merge_mail.ipynb
*/__pycache__
check_code.ipynb