
# virtual envirenment
venv/
# cache
file_/
# github reference
automation/
# template
merge_mail/*
!merge_mail/HO_SO_PL_PY.docx
!merge_mail/HO_SO_NO_PL_PY.docx
!merge_mail/IMPOT_CHAN_CHAN_fix.xls
!merge_mail/IMPOT_CHAN_CHAN_new.xls

thien.ipynb
# merge_mail.ipynb
merge_mail_2.ipynb
*/__pycache__
check_code.ipynb

.streamlit
app/CONFIG/__pycache__/
app/CONFIG/t.py
fonts_tnrm/